__pycache__/
.cache/
*.pyc
.ipynb_checkpoints
htmlcov/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
*.egg-info/
.DS_Store
.coverage
site/
.output.pdf
uv.lock
.vscode/launch.json
docs/eci_sequential_uml.mmd
docs/eci_sequential_uml.png
docs/eci_sequential_uml.svg
docs/figure_1.ipynb
